@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* class to style the lables */
.labels {
  color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 7px;
  font-weight: bold;
  text-align: center;
  padding: 0.3em;
  white-space: nowrap;
  border-radius: 20px;
}

.labels-purple {
  background-color: #97187f;
}

.labels-blue {
  background-color: #2db5e4;
}

.labels-green {
  background-color: #51a532;
}

.labels-orange {
  background-color: #ec7026;
}

.labels-red {
  background-color: #d52f45;
}

.labels-yellow {
  background-color: #e4d60e;
}

/* sidenav */
.sidenav {
  display: none;
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}

.sidenav .icon {
  float: right;
  font-size: 2rem;
  margin-right: 20px;
  cursor: pointer;
}

.station_img {
  width: 100%;
  object-fit: contain;
  margin: 10px 0px;
}

.sidenav_content h1,
p {
  padding-left: 20px;
}

.sidenav_content h3 {
  text-align: center;
}

.nearby_place img {
  object-fit: cover;
  object-position: center;
  height: 150px;
  width: 100%;
}

.nearby_place h4,
span {
  padding: 0px 20px;
}

.place_info {
  display: flex;
  flex-direction: column;
  color: rgb(74, 74, 74);
}

.place_info span {
  margin-bottom: 5px;
}

.fa-star {
  color: gold;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidenav::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidenav {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main {
  margin-left: 400px;
}

/* map information */

.map_info {
  height: 10vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  box-shadow: 1px -4px 4px 1px rgba(0, 0, 0, 0.53) inset;
  -webkit-box-shadow: 1px -4px 4px 1px rgba(0, 0, 0, 0.53) inset;
  -moz-box-shadow: 1px -4px 4px 1px rgba(0, 0, 0, 0.53) inset;
}

.circle-xs {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: purple;
  margin: 3px;
}

.circle-sm {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 13px solid green;
}

.circle-lg {
  border-radius: 50%;
  height: 26px;
  width: 26px;
  border: 13px solid orangered;
}

.info {
  background-color: rgb(215, 215, 215);
  display: flex;
  width: 250px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .map_info {
    display: flex;
    overflow-x: auto;
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 480px) {
  .sidenav {
    width: 100%;
  }

  .map_info {
    height: 40vh;
  }

  .info {
    background-color: rgb(215, 215, 215);
    width: 300px;
    margin: 10px auto;
  }
}

