/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* class to style the lables */
.labels {
  color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  padding: 0.3em;
  white-space: nowrap;
  border-radius: 20px;
}

.labels-purple {
  background-color: #97187f;
}

.labels-green {
  background-color: #51a532;
}

.labels-orange {
  background-color: #ec7026;
}

.labels-red {
  background-color: #d52f45;
}

.labels-yellow {
  background-color: #e4d60e;
}
